services:
  db:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=my-movie
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data